<div class="row">
Создание нового поста

<%= form_for :post, url: posts_path do |f| %>
	<p>
		Заголовок<br>
		<%= f.text_field :title %>
	</p>

		Содержание<br>
    <%= f.text_area :body, :id=>'edit' %>
	<%= f.submit %>

<% end %>
</div>
<script>
      $(function() {
          $('#edit').editable({inlineMode: false})
      });
</script>
