!!!html
%html
  %head
    %title
      =content_for?(:title) ? yield(:title) : "default title"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/custom.modernizr" => true
    =tag 'meta', {:content => "width=device-width, initial-scale=1.0", :name => "viewport"}, true
    %link{:href=>'http://fonts.googleapis.com/css?family=Roboto:500,300,700,400&subset=latin,cyrillic-ext,cyrillic', :rel=>'stylesheet', :type=>'text/css'}
    =csrf_meta_tags
%body
.icon-bar.five-up
  %a.item
    =fa_icon "home"
    %label Главная
  %a.item
    =fa_icon "newspaper-o"
    %label Посты
  %a.item
    =fa_icon "book"
    %label Разделы
  %a.item
    =fa_icon "suitcase"
    %label Мои подписки
  %a.item
    =fa_icon "tachometer"
    %label Панель управления
.row


    
= yield
